@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Sansita+Swashed:wght@600&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
}
*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  font-family: "Nunito";
  font-weight: 500;
  display: flex;
  flex-direction: row;
}
main {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-grow: 1;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
h1 {
  font-family: "Sansita Swashed";
  font-size: 4rem;
}

/* LOGIN PAGE */
.login-page {
  display: flex;
  gap: 10rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(#ff3f4f, #bb202d);
  color: white;
}

#login {
  display: flex;
}

#username-input {
  padding: 0.5rem 1rem;
  background: none;
  border: 0;
  border-bottom: solid 3px white;
  font-size: 1.2rem;
  color: white;
}
#username-input:focus {
  outline: none;
}
::placeholder {
  color: rgba(255, 255, 255, 0.493);
}
#login-btn {
  background: none;
  border: none;
  border-bottom: solid 3px white;
  color: white;
  cursor: pointer;
  transition: 0.1s;
}
#login-btn:hover {
  font-size: 1.1rem;
}
#warning {
  color: rgba(255, 255, 255, 0.514);
}

/* SIDE BAR */
.side-bar {
  background: linear-gradient(#fa3c4c, #bb202d);
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.side-bar header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  color: #fdfdfd;
  font-size: 1.75rem;
font-family: "Sansita Swashed";}
.side-bar hr {
  margin: 0 1rem 2rem 1rem;
  height: 1px;
  background: #fdfdfd;
  border: none;
}
.side-bar li {
  display: flex;
  flex-direction: column;
}
.side-bar p {
  overflow-wrap: break-word;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  text-align: left;
}
.side-bar caption {
  color: white;
  overflow-wrap: break-word;
  text-align: left;
}
.side-bar ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 2rem;
}

.side-bar a {
  text-decoration: none;
  margin-left: 1rem;
  border-radius: 100%;
  background: none;
  color: rgb(226, 226, 226);
  transition: 0.1s;
  cursor: pointer;
}
.side-bar a:hover {
  color: rgb(255, 255, 255);
}

/* CHAT PAGE */
.chat-page {
  background: #ddddf7;
  background-repeat: no-repeat;
  justify-content: flex-end;
  height: 89vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-grow: 1;
}

/* MESSAGE AREA*/
#messages {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 80vh;
  color: black;
}

/* MESSAGE LAYOUT */
.message-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  transform: translateY(50%);
  opacity: 0;
  animation: fadeIn 0.4s forwards;
}

/* RECIEVED MESSAGES */
.message-name {
  margin-left: 40px;
  color: #5c5c5c;
}
.message {
  width: fit-content;
  max-width: 40%;
  background: #ffffff;
  padding: 0.7rem 1rem;
  padding-bottom: 0.8rem;
  color: #000000;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.144);
  overflow-wrap: break-word;
  border-radius: 10px;
  border-top-left-radius: 2px;
  margin: 0;
  margin-bottom: 1rem;
  margin-left: 40px;
  animation: fadeIn 0.4s forwards;
  font-size: 1.1rem;
}

/* SENT MESSAGES */
.sent-message {
  align-self: flex-end;
  width: fit-content;
  max-width: 40%;
  background: linear-gradient(#fc3c4c, #f12f40);
  padding: 0.7rem 1rem;
  padding-bottom: 0.8rem;
  color: #fff4f4;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.144);
  overflow-wrap: break-word;
  border-radius: 10px;
  border-top-right-radius: 2px;
  margin: 0;
  margin-bottom: 1rem;
  margin-right: 40px;
  opacity: 0;
  transform: translateY(50%);
  animation: fadeIn 0.4s forwards;
}
.sent-name {
  align-self: flex-end;
  margin: 0;
  margin-right: 40px;
  color: #5c5c5c;
}

@keyframes fadeIn {
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

/* CONNECTION MESSAGES */
.connection-message {
  align-self: center;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  padding-bottom: 1rem;
  padding-left: 40px;
}

/* MESSAGE INPUT */
#input-bar {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  height: 11vh;
  box-shadow: 80px 77px 6px 80px rgba(0, 0, 0, 0.096);
}
#input {
  background: #fffcfc;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  align-self: center;
  margin-top: 5px;
  flex-grow: 1;
  color: rgba(0, 0, 0, 0.808);
}
#input::placeholder {
  color: #00000081;
}
#input:focus {
  outline: none;
}
#send-btn {
  align-self: center;
  background: linear-gradient(#ff3f4f, #bb202d);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  color: rgb(252, 252, 252);
  font-size: 1.4rem;
  padding: 0.8rem;
  transition: all 0.2s;
  margin-top: 2px;
  margin-right: 3rem;
}
#send-btn:hover {
  filter: brightness(130%)
}
#send-btn:active {
  transform: scale(80%);
}

/* SCROLLBAR*/
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #9e9e9e #c0c9e5;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: #c0c9e5;
}

*::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 10px;
  border: 3px none #ffffff;
}

/* MOBILE VERSION */
@media screen and (max-height: 480px) {
  #send-btn {
    font-size: 0.8rem;
    padding: 0.6rem;
  }
}
@media screen and (max-width: 640px) {
  body {
    flex-direction: column;
    overflow-x: hidden;
  }
  .side-bar {
    width: 100vw;
    height: fit-content;
   
  }
  .side-bar ul {
    flex-direction: row;
    margin-left: 1rem;
    margin-bottom: 0.75rem;
    flex-wrap: wrap;
  }

  .connection-message {
    padding: 0;
  }
  #input-bar {
    height: fit-content;
    padding: 5px 0;
  }
  #input {
    width: 70vw;
  }

  *::-webkit-scrollbar {
    display: none;
  }
}
